<?xml version='1.0'?>
<odoo>
    
    <record id="action_bike_rent" model="ir.actions.act_window">
        <field name="res_model">bike.rent</field>
        <field name="view_mode">tree,form,pivot</field>
    </record>
           
    <record id="bike_search_view" model="ir.ui.view">
        <field name="model">bike.rent</field>
        <field name="arch" type="xml">            
            <search>
                <group expand="1" string="Group by ..">
                    <filter name="name" string="bike_id" domain="[]"
                     context="{'group_by':'bike_id'}"/>
                </group>
                <filter string="Active" name="is_active" 
                  domain="[('rent_stop', '&gt;', 
                            context_today().strftime('%Y-%m-%d'))]"/>
                <filter string="Free rent" name="Filter_price" 
                 domain="[('price','=','0')]"/>                        
            </search>
        </field>    
    </record>  
 
    <record id="view_form_bike" model="ir.ui.view">    
        <field name="model">bike.rent</field>
        <field name="arch" type="xml">    
            <sheet> 
            <notebook>
                    <page string="Form">
                        <form>
                            <group>
                                <field name="bike_id" domain="[('is_bike','=', True)]"/>                
                                <field name="partner_id"/>
                                <field name="rent_start"/>
                                <field name="rent_stop"/> 
                                <field name="price"/>
                                <field name="_compute_number_of_days"/>            
                            </group>
                        </form>
                    </page>
                    <page string="Backwards connection">
                    
                    </page>
            </notebook>
            </sheet> 
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_follower"/>
                    <field name="message_ids" widget="mail_thread"/>         
                </div>                        
                       
        </field>
    </record>
            
    <record  id="view_tree_bike" model="ir.ui.view">   
        <field name="model">bike.rent</field>
        <field name="arch" type="xml"> 
            <tree>                            
                <field name="bike_id"/> 
                <field name="partner_id"/>
                <field name="rent_start"/>
                <field name="rent_stop"/>  
                <field name="price"/>
            </tree>
                      
        </field>  
    </record>
    
    <record  id="view_pivot_bike" model="ir.ui.view">   
        <field name="model">bike.rent</field>
        <field name="arch" type="xml"> 
            <pivot>                            
                <field name="bike_id" type="row"/> 
                <field name="partner_id" type="row"/>
                <field name="rent_start" type="col"/>
                <field name="rent_stop" type="col"/>  
            </pivot>            
        </field>  
    </record>
 
    <menuitem id="bike_menu"
          name="Bike Rent"
          action="action_bike_rent"
          />
                   
</odoo>
